*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryVeryDark: hsl(300, 43%, 22%);
    --primarySoftPink: hsl(333, 80%, 67%);

    --neutralDarkMagenta: hsl(303, 10%, 53%);
    --neutralLightMagenta: hsl(300, 24%, 96%);
    --neutralWhite: hsl(0, 0%, 100%);
}

body{
    background: var(--neutralWhite);
    padding: 5rem;
    margin: 0 auto;
}
.top{
    display: flex;

}
.top .main-left{
    width: 39%;
}
.top .main-left h1{
    color: var(--primaryVeryDark);
    padding-bottom: .5rem;
}
.top .main-left p{
    color: var(--neutralDarkMagenta);
    font-size: 14px;
    line-height: 17px;
}
.main-right .stars{
    background: var(--neutralLightMagenta);
    padding: .8rem 1rem;
}
.main-right span{
    padding-left: .3rem;
}
.main-right .one{
    margin-left: 3rem;
}
.main-right .two{
    margin: .5rem -3rem .5rem 6rem;
}
.main-right .three{
    margin: 0 -6rem 0 10rem;
}
.bottom{
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}
.review-one{
    background: var(--primaryVeryDark);
    width: 33%;
    /* padding-bottom: 3rem; */
}
.logo{
    display: flex;
}
.logo img{
    border-radius: 50%;  
    padding: 1rem;
}
.logo div{
    padding: 2.3rem 0 1rem .2rem;
}
.logo div h4{
    color: var(--neutralLightMagenta);
    font-size: 13px;
    padding-bottom: .2rem;
}
.logo div h6{
    color: var(--primarySoftPink);
    letter-spacing: 2px;
}
.text{
    color: var(--neutralLightMagenta);
    font-size: 13px;
    padding: 0 .9rem 0 .9rem;
}
.topOne{
    height: 13rem;
}
.text.first{
  padding-bottom: 1rem;
}
.topTwo{
    margin-top: 1.3rem;
    height: 13rem;
}
.topThree{
    margin-top: 2.5rem;
    height: 13rem;
}
.text.second{
    padding-bottom: 2rem;
}
.third{
    padding-bottom: 2rem;
}
